h1{
    color: blue;
}

.home-intro{
    text-align: center;
    border:3px solid black;
    background-color: whitesmoke;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.home-intro:hover{
    background-color: rgb(117, 172, 230);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
#p2{
    color:blue;
}
#nav{
    align-items: center;
    text-align: center;
    background-color:rgb(148, 148, 217);
    margin: 10px;
}
#card{
    text-align: center;
    align-items: center;
    margin-top:5px;
    border: 3px solid black;
    width: 400px;
    height:400px;
    margin:3px auto;
}
#img{
    width: 200px;
    height: 200px;
    border-radius:5px;
}
button{
    width:100%;
}

    
